<div class="ui large menu">
  <a class="item">
    <img src="../images/logo.png" style ="height:45px; width: auto"></img>
  </a>
  <a href="/dashboard" class="item">
    <i class="grid layout icon"></i> Dashboard
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input" id="basic-typeahead-search">
      <input class="typeahead" id="typeahead-input" type="text" placeholder="Search..."></input>
      <i class="search icon"></i>
      </div>
    </div>
    <div class="ui dropdown item">
      iatracey <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">Profile</a>
        <a class="item">Logout</a>
      </div>
    </div>

  </div>
</div><!-- end of nav -->