<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properities -->
  <title>Homepage Example - Semantic</title>

  <link rel="stylesheet" type="text/css" href="../dist/semantic.css">
  <link rel="stylesheet" type="text/css" href="../dist/style.css">

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
  <script src="../dist/semantic.js"></script>
  <script src="../dist/typeahead/typeahead.jquery.js"></script>
  <script src="../dist/typeahead/bloodhound.js"></script>
  <script src="../pages/homepage.js"></script>

</head>

<body id="home">

<div th:include="navigation"></div>

<div class="ui page grid">
	<div class="sixteen wide column" style="margin-top: 100px">
<div class="ui fluid card">
  <div class="content">

<div class="ui grid">

<div class="six wide column">
<div class="ui card" style="width:250px" id="profile-card">
  <div class="image">
    <img src="../images/profile_pic.jpg" style="width:250px; height: auto">
  </div>
  <div class="content">
    <a class="header"><p th:text="${person.firstName}+' '+${person.lastName}"></p>
</a>
      <p th:text="${person.title}"></p>
      <p th:text="${person.location}">ss</p>
    <div class="description">
      Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="calendar outline icon"></i>
      Started 01/22/2006  <strong>(9 Years)</strong>
    </a>
  </div>
  <div class="ui bottom attached button">
      <i class="star icon"></i>
      Add to Favorites
    </div>
</div><!-- end of card -->
</div>

<div class="ten wide column">
 
 <div class="ui card fluid" style="margin-left: -50px">
  <div class="content">
    <div class="header">Details</div>
      <div style="padding-top:10px">
      <p th:text="'ID: '+${person.userId}"></p>	
      <p th:text="'Phone: '+${person.mobilePhone}"></p>
      <p th:text="'ID: '+${person.emailAddress}"></p>	
      <div class="ui medium breadcrumb" style="margin-top:0px">
  <p class="section">IT</p>
  <i class="right chevron icon divider"></i>
  <p class="section">Cisco Global</p>
  <i class="right chevron icon divider"></i>
  <p class="section">GIS - Global</p>

</div>
  	  </div>
  	 <br />
  	<div class="header">Expertise</div>
      <div style="padding-top:10px">
	      <div class="ui label">Rails</div>
	      <div class="ui label">Web APIs</div>
	      <div class="ui label">Javascript</div>
	      <div class="ui label">Ruby</div>
	      <div class="ui label">Test Driven Development</div>
	      <div class="ui label">Java</div>
  	  </div>

  	  <div style="padding-top:15px">
	      <span>Positive Reviews <a class="ui green circular label">34</a><span>
	      <span style="padding-left: 20px">Negative Reviews <a class="ui red circular label">6</a></span>
  	  </div>

    </div>
  </div>

   <div class="ui card fluid" style="margin-left: -50px">
  <div class="content">
    <div class="header">Reporting Chain Snapshot</div>
     <table class="ui celled striped table">
  <thead>
    <tr><th colspan="4">
    </th>
  </tr></thead><tbody>
    <tr>
      <td class="collapsing">
        <i class="arrow up icon"> Tom Cooper</i>
      </td>
      <td>Project Manager</td>
	  <td>ESTNS Global Customer Services</td>
    </tr>
    <tr>
      <td class="collapsing">
        <i class="arrow up icon"> Tim Colson</i>
      </td>
      <td>Architect</td>
	  <td>CITS/CCS Global Services</td>
    </tr>
    <tr class="warning">
      <td class="collapsing">
        Stevie Feliciano
      </td>
      <td>IT Engineer</td>
	  <td>GIS Services</td>
    </tr>
    <tr>
      <td class="collapsing">
        <i class="arrow up icon"> Ian Tracey</i>
      </td>
      <td>IT Engineer Intern</td>
	  <td>CITS/CCS Global Services</td>
    </tr>
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th></th>
      <th colspan="4">
        <div class="ui right floated small primary labeled icon button" id="expand-reporting-chain">
          <i class="external square icon"></i> Expand
        </div>

      </th>
    </tr>
  </tfoot>
</table>
    </div>
  </div>

</div> 
</div>

</div>

</div>
</div>

</div>
</div>

<div class="ui modal" id="reporting-chain-modal">
  <i class="close icon"></i>
  <div class="header">
    Reporting Chain
  </div>
  <div class="content">

    <div class="description">
      <div class="ui header">We've auto-chosen a profile image for you.</div>
      <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
      <p>Is it okay to use this photo?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui black button">
      Nope
    </div>
    <div class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>








<!-- End of Body -->
</div>

<script>
$('#expand-reporting-chain').click(function() {
	$('#reporting-chain-modal').modal('show');
});
</script>



<script>
var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;
 
    // an array that will be populated with substring matches
    matches = [];
 
    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');
 
    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });
 
    cb(matches);
  };
};
 
var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
  'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
  'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
  'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
  'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
  'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
  'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
  'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
  'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
];
 
$('#basic-typeahead-search .typeahead').typeahead({

  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'states',
  source: substringMatcher(states),
  templates: {
    empty: [
      '<div class="empty-message">',
        'unable to find someone',
      '</div>'
    ].join('\n')
  }
});
</script>


</body>